h1{color:blue;text-align:center;}
input[type=text]{border=black solid 1 px;margin:10px}
input[type=num]{border=black solid 1 px;margin:10px}
input[type=email]{border=black solid 1 px;margin:10px}
.personal{border:blue solid 5px;width:20%;height:40%;background:#ADD8E6;margin:20px;}
.as{border:black solid 5px;width:50%;height:30%;background:}
.social{width:30%;height:30%;}
.dis img{width:20%;height:30%;}
.hand img{width:20%;height:30%;}
.mask img{width:20%;height:30%;}
.pm img{width:60%;height:50%;float:right;}
input[type=submit]{color:black;background:blue;}
.na h1{color:red;}
.na a h1{text-decoration:none;border:green solid 1px;width:10%;height:10%;background:yellow;}